body {
  margin-top: 0px;
  padding-bottom: 100px;
  background-color: rgb(17, 17, 17);
  max-width: 100%;
}

.service-container {
  padding-top: 220px;
}

.service-flexbox {
  display: flex;
  column-gap: 120px;
  justify-content: center;
  max-width: 100%;
}

.service-desc-container {
  background-color: black;
  max-width: 550px;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  height: auto;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-text {
  font-size: 30px;
}
.service-image {
  height: 430px;
  width: 500px;
  object-fit: cover;
  align-self: center;
}
.service-image-container {
  display: flex;
  align-items: center;
  height: auto;
  width: auto/9;
  max-height: 430px;
  max-width: 500px;
}
.service-image-grid {
  display: grid;
  width: 400px;
}

.innerview-image {
  width: 400px;
  height: 200px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.service-website {
  height: 500px;
  width: 400px;
}

.button-display-grid {
  display: grid;
  grid-template-columns: 275px 275px 275px;
  column-gap: 130px;
  row-gap: 100px;
  padding-top: 200px;
  margin-left: 190px;
}

.dropdown {
  position: relative;
  transition: display 1s;
}

.dropdown-content {
  visibility: hidden;
  background-color: rgb(67, 67, 67);
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
  transition: visibility 0.15s,
    opacity 0.15s;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: Oswald;
  font-weight: bold;
  display: block;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.nhs-button,
.innerview-button,
.habitat-button,
.earthecho-button,
.gpac-button,
.action-ministries-button {
  height: 250px;
  width: 275px;
  padding: 50px;
  object-fit: cover;
  border: none;
  background-size: cover;
}

.nhs-button {
  background-image: url(../assets/extracurriculars/button-backgrounds/nhs-logo.jpeg)
}
.innerview-button {
  background-image: url(../assets/service/button-backgrounds/innerview-logo.png)
}
.habitat-button {
  background-image: url(../assets/service/button-backgrounds/habitat-for-humanity-logo.jpeg)
}
.earthecho-button {
  background-image: url(../assets/service/button-backgrounds/earthecho-logo.png)
}
.gpac-button {
  background-image: url(../assets/service/button-backgrounds/gpac-logo.jpeg)
}
.action-ministries-button {
  background-image: url(../assets/service/button-backgrounds/action-ministries-logo.jpeg)
}
